<h1>
  Password Generator
</h1>
<div>
  <label>enter length: </label>
  <input (input)="onChangeLength($event)"/>
</div>
<div>
  <label for="letters">Use Letter</label>
  <input id="letters" (change)="onChangeUseLetters()" type="checkbox"/>
</div>
<div>
  <label for="numbers">Use Numbers</label>
  <input id="numbers" (change)="onChangeUseNumbers()" type="checkbox"/>
</div>
<div>
  <label for="symbol">Use Symbols</label>
  <input id="symbol" (change)="onChangeUseSymbols()" type="checkbox"/>
</div>
<div>
  <button [disabled]="!(lengthPass&&(includeSymbols||includeNumbers||includeLetters))"
          (click)="onBtnClicked()">
    Generate!
  </button>
</div>
<div>
  <label>Your Password: </label>
  <input [value]="pass"/>
</div>

